<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IVisitorContract">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.0.29:3121/Visitor" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IVisitorContract" contract="ServiceReference1.IVisitorContract"
                name="NetTcpBinding_IVisitorContract" />
        </client>
    </system.serviceModel>
</configuration>