<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework> 
   <connectionStrings>
     <add name="EXContext.xml" connectionString="data source=localhost;initial catalog=EXDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
   </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="NewBinding1">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IVisitorContract">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="EX.Service.VisitorContract">
        <endpoint address="net.tcp://192.168.0.27:3121/Visitor" binding="netTcpBinding"
          bindingConfiguration="NewBinding1" contract="EX.Service.IVisitorContract" />
        <endpoint address="net.tcp://192.168.0.27:3121/Visitor/mex" binding="mexTcpBinding"
          bindingConfiguration="" contract="IMetadataExchange" />
      </service>
    </services>

    <client>
      <endpoint address="net.tcp://192.168.0.27:3121/Visitor" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IVisitorContract" contract="ServiceReference1.IVisitorContract"
        name="NetTcpBinding_IVisitorContract" />
    </client>
    
    
  </system.serviceModel>
</configuration>