<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="EXContext.xml" connectionString="data source=localhost;initial catalog=EXDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IVisitorContract">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IVisitorContract1">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.0.27:3121/Visitor" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IVisitorContract" contract="ServiceReference1.IVisitorContract"
        name="NetTcpBinding_IVisitorContract" />
      <endpoint address="net.tcp://192.168.0.27:3121/Visitor" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IVisitorContract1" contract="ServiceReference1.IVisitorContract"
        name="NetTcpBinding_IVisitorContract1" />
    </client>
  </system.serviceModel>
</configuration>